bitarray==2.8.2
bitstring==4.1.2
bluepy==1.3.0
brainflow==5.10.1
cloudpickle==2.2.1
contourpy==1.1.1
cycler==0.11.0
fonttools==4.42.1
future==0.18.3
grpcio==1.58.0
innvestigate==2.1.1
joblib==1.3.2
keyboard==0.13.5
kiwisolver==1.4.5
llvmlite==0.41.0
matplotlib==3.8.0
nptyping==1.4.4
numba==0.58.0
oauthlib==3.2.2
pandas==2.1.1
pillow==10.0.1
protobuf==3.19.0
pyedflib==0.1.34
pygame==2.5.2
pyopenbci==0.13
pyparsing==3.1.1
pyqt5-sip==12.11.0
pyserial==3.5
scikit-learn==1.3.1
scipy==1.11.3
setuptools==68.2.2
shap==0.42.1
slicer==0.0.7
threadpoolctl==3.2.0
tqdm==4.66.1
typish==1.9.3
tzdata==2023.3
xmltodict==0.13.0